<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Accueil{% endblock %} - Blog</title>
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/font-awesome/fonts') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body >
{% block header %}
    <header >
        {%  block nav %}
            {% include '::nav.html.twig' %} <!-- Inclusion de la navigation -->
        {% endblock %}

    </header>
{% endblock %}
<p>Accueil</p>
<div class="page">
    {% block page %}

        <main class="flex-container bgi">

            <div class="flex-item">

                    <p class="lettre animated ">blog</p>

                <div class="nav_intro">
                    <a href="{{ path('Simplon_blog_login') }}"><p class="btn-inscription">login</p>
                    <a href="{{ path('Simplon_blog_register') }}"><p class="btn-inscription">S'inscrire</p>
                        <br>
                    <a class="fleche " href="{{ path('Simplon_blog_homepage') }}"><img src=" {{ asset('images/fleche.png') }}" alt="icone flêche"></a>
                        <p class="text">Visiter</p>
                </div>


            </div>


        </main>

    {% endblock %} <!-- End page -->
</div>

{% block footer%}
   <footer>
           <p>    Blog        &copy;
               <script type="text/javascript">
                   document.write(new Date().getFullYear());
               </script>
               <br> Patrick Morghadi - Renaud Vivancos
           </p>
   </footer>
{% endblock %} <!-- End footer -->

{% block javascripts %}
    <script src="{{ asset('js/jquery.3.1.0.min.js')}}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %} <!-- End javascripts -->
</body>
</html>