{#Listes tous les articles#}

<nav  id="navigation">
    {% block logo %}
        <a href="{{ path('Simplon_blog_accueil') }}"><div class="logo animated bounceIn">blog</div></a>
    {% endblock %}

    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        {% block login %}
                            <li><a href="{{ path('Simplon_blog_accueil') }}">Accueil</a></li>

                            {% if app.user == null %} <!-- Condition d'affichage : mode administration/ou mode première connexion-->
                                <li> <a href="{{ path('Simplon_blog_homepage') }}">Blog</a></li>
                                <li><a href="{{ path('Simplon_blog_login') }}">Connexion</a></li>
                            {% else %}
                                <li> <a href="{{ path('Simplon_blog_listeArticles') }}">Blog</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('Simplon_blog_admin_articles') }}">Administration</a></li>
                                {% endif %}
                                        {% if is_granted('ROLE_USER') %}
                                            <li><a href="{{ path('Simplon_blog_logout') }}">Déconnexion</a></li>

                                        {% endif %}

                            {% endif %}

                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>