{% extends "renaudBlogBundle:Blog:index.html.twig" %}

{% block body %}

	<p><a href='{{ path('renaud_blog_edit_profile', {'user': app.user.username }) }}'>Modifier le profil</a></p>
	<p><a href="{{ path('renaud_blog_liste_users') }}">Gerer utilisateurs</a></p>
	<p><a href='{{ path('renaud_blog_logout') }}'>Se déconnecter</a></p><br/>
	<p><a href='{{ path('renaud_blog_add_article') }}'>Ajouter un article</a></p><br/>

	{% for article in articles %}
		<p>Id : {{article.id}}</p>
		<p>Titre : {{article.titre}}</p>

		{% if article.publie == false %}
			<p><a href='{{ path('renaud_blog_publier_article', {'id': article.id}) }}'>Publier cet article</a></p>
		{% else %}
			<p><a href='{{ path('renaud_blog_publier_article', {'id': article.id}) }}'>Ne plus publier cet article</a></p>
		{% endif %}

		<p><a href='{{ path('renaud_blog_update_article', {'id': article.id}) }}' >Modifier</a></p>
		<p><a href='{{ path('renaud_blog_remove_article', {'id': article.id}) }}' >Supprimer</a></p><br/>
	{% endfor %}
{% endblock %}
