{% extends "renaudBlogBundle:Blog:template.html.twig" %}

{% block body %}
	<p>liste des Articles</p>

	{% for article in articles %}
		<ul>
			<li>
				<p><a href="{{ path('renaud_blog_view_article',{'id': article.id}) }}">{{ article.id }}</a></p>
				<p>{{ article.titre }}</p>
				<p>{{ article.contenu }}</p>
				<p>{{ article.auteur }}</p>
				<p>{{ article.date | date('d-m-Y') }}</p>

				{% for articlesVus in vus %}
					{% if articlesVus == article.id %}
						<p>Article déjà lu</p>
					{% else %}
						<p>Article pas encore lu </p>
					{% endif %}
				{% endfor %}
			</li>
		</ul>
	{% endfor %}
{% endblock %}