{% extends "::base.html.twig" %}
  {%  block nav %}
      {% include '::nav.html.twig' %} <!-- Inclusion de la navigation -->

      {% block logo %}
          <a href="{{ path('Simplon_blog_accueil') }}"><div class="logo animated bounceIn">blog</div></a>

          <div class="menu_admin">
              <img class="minifleche" src="{{ asset('images/minifleche.png')}}" alt="">
          </div>

          <div class="interface-admin flex-center">
              <ul class="menu ">
                  <li class="animated fadeInDownBig"><a href='{{ path('Simplon_blog_edit_profile', {'user': app.user.username }) }}'>Modifier le profil</a></li>

                  <li class="animated fadeInUpBig"><a href="{{ path('Simplon_blog_liste_users') }}">Gerer utilisateurs</a></li>

                  <li class="animated fadeInDownBig"><a href='{{ path('Simplon_blog_logout') }}'>Se déconnecter</a></li>

                  <li class="animated fadeInUpBig"><a href='{{ path('Simplon_blog_add_article') }}'>Ajouter un article</a></li>
              </ul>
              <p class="close"><i class="fa fa-send" aria-hidden="true"></i>
              </p>
          </div>
          {% if app.user.avatar == "avatar-defaut.png"  %}
              <div class="avatar-defaut">
                  <img src=" {{ asset('images/avatars/'~app.user.avatar~'')}}" alt="">
              </div>
          {% else %}
              <div class="avatar">
                  <img src=" {{ asset('images/avatars/'~app.user.avatar~'')}}" alt="">
              </div>
          {% endif %}


      {% endblock %}
  {% endblock %}

{% block page %}
    <div class="entete bgi flex-center">
        <h1>Gérer les articles</h1>
    </div>
    <div class="flex-container ">
        <div class="liste_articles flex-container " >

            {% for article in articles %}
                <div class="admin_article">
                    <div class="header-article">
                        <div class="date">
                            <h2 class="date_header">
                                <p>{{ article.date | date('d-M') }}<br>{{ article.date | date('Y') }}</p>
                            </h2>
                        </div>
                        <div class="titre"><h2>{{ article.titre }}</h2></div>
                        <span>Article n°: {{article.id}}</span>
                        <a href="#" class="afficher"><button class="btn-afficher">Afficher / Masquer</button></a>
                        <div class="contenu" class="article">
                            <p>{{article.contenu}}</p>
                            <p>Auteur : {{article.auteur}}</p>
                        </div>
                    </div>

                    <div class="admin-bar">
                        {% if article.publie == false %}
                            <a href='{{ path('Simplon_blog_publier_article', {'id': article.id}) }}'><button class="btn-gerer">Publier</button></a>
                        {% else %}
                            <a href='{{ path('Simplon_blog_publier_article', {'id': article.id}) }}'><button class="btn-gerer">Retirer</button></a>
                        {% endif %}

                        <a href='{{ path('Simplon_blog_update_article', {'id': article.id}) }}' ><button class="btn-gerer">Modifier</button></a>
                        <a href='{{ path('Simplon_blog_remove_article', {'id': article.id}) }}' ><button class="btn-gerer">Supprimer</button></a><br/>

                    </div>
                </div>


            {% endfor %}

        </div>
    </div>




{% endblock %}

