{% extends "::base.html.twig" %}

{% block page %}

	<div class="entete bgi flex-center">
		<h1>Blog des blogs</h1>
	</div>
	<div class="liste_articles flex-container">
		{% for flash_message in app.session.flashBag.all %}
			{% for flash in flash_message %}
				<div class="flash-notice">
					{{ flash }}
				</div>
			{% endfor %}
		{% endfor %}

		<h2 >Les 4 derniers articles </h2>
		{% for article in articles %}
			<div class="header-article">
				<div class="date">
					<h2 class="date_header">
						<p>{{ article.date | date('d-M') }}<br>{{ article.date | date('Y') }}</p>
					</h2>
				</div>
				<a href="{{ path('Simplon_blog_view_article',{'id': article.id}) }}"><div class="titre"><h2>{{ article.titre }}</h2></div></a>
			</div>
			<ul class="contenu_article">
				<li><p>{{ article.contenu }}</p></li>
				<li><p>Auteur : {{ article.auteur }}</p></li>
				<li><p>Modifié le {{ article.date | date('d-m-Y') }} à {{article.date | date('H:i:s') }}</p></li>
			</ul>
			<div class="ombre"></div>

		{% endfor %}
	</div>
{% endblock %}
