{% extends "::base.html.twig" %}

{% block page %}
    {% for flash_message in app.session.flashBag.get('registerOk') %}
        <div class="alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

  <section class="flex-container  bgi">
    <div class="login flex-item rotating ">

      <h2 class="fadeInUp">Se connecter</h2>


      <div class="login_form fadeInUp">

        {% if error %}
          <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('Simplon_blog_login_check') }}" method="post">
<div class="champ">
  <input class="form_input" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Pseudo" />
</div>

<div class="champ">
  <input class="form_input" type="password" id="password" name="_password" placeholder="Mot de passe"  />
</div>

          <br />
          <input type="submit" value="Login" class="btn_login"/>
        </form>

        <p >Pas de compte? Inscris-toi! </p><a href="{{ path('Simplon_blog_register') }}"><input type="button" value="S'incrire" class="inscription"></a></input>
      </div>
    </div>
  </section>

{% endblock %}

