{% extends "::base.html.twig" %}

{% block page %}
	

	<div class="flex-container">
		<div class="modifier flex-item">
			<h2 class="">Modifier l'article</h2>

			{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
			<div class="modifier_titre">
				{{ form_errors(form.Titre) }}
				{{ form_label(form.Titre) }}
				{{ form_widget(form.Titre, { attr: { novalidate: 'novalidate' } }) }}
			</div>
			<div class="modifier_article">
				{{ form_widget(form.Contenu, { attr: { novalidate: 'novalidate' } }) }}
			</div>
			{{ form_end(form) }}
		</div>

	</div>
{% endblock %}
