{% extends "::base.html.twig" %}
{%  block nav %}
	{% include '::nav.html.twig' %} <!-- Inclusion de la navigation -->

	{% block logo %}
		<a href="{{ path('Simplon_blog_accueil') }}"><div class="logo animated bounceIn">blog</div></a>

		<div class="menu_admin">
			<img class="minifleche" src="{{ asset('images/minifleche.png')}}" alt="">
		</div>

		<div class="interface-admin flex-center">
			<ul class="menu ">
				<li class="animated fadeInDownBig"><a href='{{ path('Simplon_blog_edit_profile', {'user': app.user.username }) }}'>Modifier le profil</a></li>

				<li class="animated fadeInUpBig"><a href="{{ path('Simplon_blog_liste_users') }}">Gerer utilisateurs</a></li>

				<li class="animated fadeInDownBig"><a href='{{ path('Simplon_blog_logout') }}'>Se déconnecter</a></li>

				<li class="animated fadeInUpBig"><a href='{{ path('Simplon_blog_add_article') }}'>Ajouter un article</a></li>
			</ul>
			<p class="close"><i class="fa fa-send" aria-hidden="true"></i>
			</p>
		</div>
		{% if app.user.avatar == "avatar-defaut.png"  %}
			<div class="avatar-defaut">
				<img src=" {{ asset('images/avatars/'~app.user.avatar~'')}}" alt="">
			</div>
		{% else %}
			<div class="avatar">
				<img src=" {{ asset('images/avatars/'~app.user.avatar~'')}}" alt="">
			</div>
		{% endif %}


	{% endblock %}
{% endblock %}
{% block page %}


	<div class="flex-container bgi ">

		<div class="gestion_users flex-item">
			<h2 >Gestion des utilisateurs</h2>
			<br>
			<hr>
				{% for user in users %}
					<h3 class="pseudo">Pseudo : {{ user.username }}</h3>
					<div class=" flex-center">
						<div class="">Role :
							{% for role in user.roles %}
								{{ role }}
							{% endfor %}

							<div class="gestion_bar flex-center">
							<a href="{{ path('Simplon_blog_change_role', {'user': user.username }) }}"><button class="btn-gerer">Changer Role</button></a>

							<a href="{{ path('Simplon_blog_remove_user', {'user': user.username }) }}"><button class="btn-gerer">Supprimer l'utilisateur</button></a>
							</div>
						</div>
					</div>
					<br>
					<hr>
					<br/>

				{% endfor %}
		</div>

	</div>



{% endblock %}
