{% extends "::base.html.twig" %}

{% block page %}
	<p> Article N° {{ article.id }} </p>
	<p> Titre : {{ article.titre }} </p>
	<p> Contenu : {{ article.contenu }} </p>
	<p> Auteur : {{ article.auteur }} </p>
	<p> Date : {{ article.date | date('d-m-Y') }} </p>
{% endblock %}
