{% extends "::base.html.twig" %}

{% block page %}

	<div class="liste_articles flex-container">


		<div class="header-article">
			<div class="date">
				<h2 class="date_header">
					<p>{{ article.date | date('d-M') }}<br>{{ article.date | date('Y') }}</p>
				</h2>
			</div>
				<a href="{{ path('Simplon_blog_view_article',{'id': article.id}) }}"><div class="titre"><h2>{{ article.titre }}</h2></div></a>
			</div>
			<ul class="article">
				<li><p>{{ article.contenu }}</p></li>
				<li><p>{{ article.auteur }}</p></li>
				<li><p>Modifié le {{ article.date | date('d-m-Y') }} à {{article.date | date('H:i:s') }}</p></li>


			</ul>
			<div class="ombre"></div>

	</div>
{% endblock %}
