{% extends "::base.html.twig" %}
{%  block nav %}
	{% include '::nav.html.twig' %} <!-- Inclusion de la navigation -->

{% block logo %}
<a href="{{ path('Simplon_blog_accueil') }}"><div class="logo animated bounceIn">blog</div></a>

<div class="menu_admin">
	<img class="minifleche" src="{{ asset('images/minifleche.png')}}" alt="">
</div>

{% if app.user.avatar == "avatar-defaut.png" %}
<div class="avatar-defaut">
	{% else %}
	<div class="avatar">
		{% endif %}
		<img src=" {{ asset('images/avatars/'~app.user.avatar~'')}}" alt="">
	</div>

	{% endblock %}
	{% endblock %}
{% block page %}

	<div class="liste_articles flex-container">


		<div class="header-article">
			<div class="date">
				<h2 class="date_header">
					<p>{{ article.date | date('d-M') }}<br>{{ article.date | date('Y') }}</p>
				</h2>
			</div>
				<a href="{{ path('Simplon_blog_view_article',{'id': article.id}) }}"><div class="titre"><h2>{{ article.titre }}</h2></div></a>
			</div>
			<ul class="article">
				<li><p>{{ article.contenu }}</p></li>
				<li><p>{{ article.auteur }}</p></li>
				<li><p>Modifié le {{ article.date | date('d-m-Y') }} à {{article.date | date('H:i:s') }}</p></li>


			</ul>
			<div class="ombre"></div>

	</div>
{% endblock %}
